# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Local environment files
*.local
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase cache
.eslintcache

# System files
.DS_Store
